<h1>Categories#delete</h1>
<p>
<strong>Name:</strong>
<%= @category.name %>
</p>
<p>
	<strong>Thumb</strong>
	<%= image_tag @category.thumburl, :class=>"images_thumb" %>
</p>

<%= link_to 'Destroy', categories_delete_path(@category) %>

<%= link_to "Edit", edit_category_path(@category) %>
<%= link_to 'Back', categories_path %>


